@import '~_variables';

.c-scoring {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40px auto 40px;
  grid-row-gap: spacing(small);
  grid-template-areas:
    "current-score"
    "previous-rolls"
    "roll-score";

  .c-current-score {
    grid-area: current-score;
  }

  .c-previous-rolls {
    grid-area: previous-rolls;
  }

  .c-roll-score {
    grid-area: roll-score;
    display: flex;
    align-items: center;
    .c-dice .c-icon {
      height: 1.25em;
      width: 1.25em;
    }
    .c-roll-score__score {
      margin-left: spacing(small);
      font-weight: bold;
    }
  }
}